.card {
    display: block;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 3px 6px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.card > * {
    margin-top: 10px;
}

.card-title {
    padding-bottom: 5px;
    border-bottom: 2px solid #c5c6c7;
}

.card-title,
.card-title h1,
.card-title h2,
.card-title h3,
.card-title h4,
.card-title h5,
.card-title h6 {
    font-size: 1.2rem;
    color: #45a29e;
}

.card-title h1,
.card-title h2,
.card-title h3,
.card-title h4,
.card-title h5,
.card-title h6 {
    margin: 0;
}

.card-bd {
    font-size: 1rem;
}