.container {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 30px 20px;
  border-top: 1px solid rgba(255,255,255,0.8);
}

.container:nth-child(odd) {
  position: relative;
  z-index: 100;
  background: url("/images/grey_wash_wall.png") repeat;
  color: #ededed;
  overflow: hidden;
  border-top: 1px solid rgba(0,0,0,0.3);
  box-shadow: inset 0px 20px 20px -16px rgba(0,0,0,0.25);
}

.panel {
  display: block;
  padding: 10px;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.btnClose {
  display: inline-block;
  background: transparent none no-repeat;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 0;
  cursor: pointer;
  border-width: 0;

  position: relative;
}

.btnClose:after,
.btnClose:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1f2833;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.btnClose:before {
  transform: rotate(-135deg);
}

.btnClose:after {
  transform: rotate(135deg);
}
