.mediaBlock {
    display: block;
    width: 100%;
    *zoom: 1;
}

/* BELOW STYLES: called a clearfix */  
.mediaBlock:before,
.mediaBlock:after {
    content: " ";
    display: table;
  }
  
.mediaBlock:after {
    clear: both;
}

.mediaBlock-media {
    width: 45%;
    padding-top: 10px;
    box-sizing: border-box;
}

.mediaBlock-media > * {
    display: block;
}

.mediaBlock-media_shiftLeft {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 0;
}

.mediaBlock-media_shiftRight {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-top: 0;
}