@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Quicksand:400,700&display=swap');

/* ---------- COLOR PALETTE
#c5c6c7 - lt grey
#1f2833 - drk greyish blue
#0b0c10 - nearly black
#66fcf1 - bright aqua/neon green/blue
#45a29e - muted drk aqua blue

#ededed - nearly white
--------------------------- */

.color-palette {
  /* NOT FOR STYLING JUST REFERENCE */
  color: #c5c6c7;
  color: #1f2833;
  color: #0b0c10;
  color: #66fcf1;
  color: #45a29e;
  color: #ededed;
}

html,
body {
  height: 100%;
}

body {
  background-color: #c5c6c7;
  margin: 0;
  font-family: "Open Sans", "Oxygen", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", "Oxygen", "Droid Sans", "Helvetica Neue", sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
